.img-detail {
    width: 100%;
    max-width: 300px; 
}

.detail-info {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    max-width: 350px;
    
}

.descripcion {
    text-align: left;
    padding-left: 20px;
}

.info-grid {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 20px 10px;
  }

  li {
      margin-top: -20px;
  }