.card {
height: 550px;
width: 300px;
text-align: center;
margin-top: 20px;
margin-left: 30px;
}

.card-text {
    margin-top: -8px;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.stock {
    font-size: small;
    padding-top: 3px;
}

.botonAgregar {
    width: 200px;
    margin-top: 10px;
    background-color: #EADEB8;
    border: none;
    border-radius: 5px;
}

.botonCantidad {
    height: 25px;
    width: 20px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EADEB8;
    border: none;
    border-radius: 5px;
}

.botonVerMas {
    background-color: #EADEB8;
    margin-top: -5px;
    border: none;
    border-radius: 5px;
    
}

